<% if vm.errors.any? then %>
  <div class="row">
    <div class="small-12 columns">
      <div data-alert class="alert-box alert">
        <h3>Errors prevented this form from saving</h3>
        <ul>
          <% vm.errors.each do |error, msg| %>
            <li><%= error %> <%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 large-6 columns">
    <%= f.label :posting_rule %>
    <%= f.text_field :posting_rule %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Montant Fixe</h3>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <h4 id="label_fixed_amount_memo_account">Compte</h4>
  </div>
  <div class="small-4 columns">
    <h4 id="label_amount_dt">Montant</h4>
  </div>
</div>
<%= f.fields_for :fixed_amount_rules do |famount| %>
  <div class="row">
    <div class="small-8 columns">
      <%= famount.select :memo_account, memo_accounts_for_select.keys.unshift("") %>
    </div>
    <div class="small-4 columns">
      <%= famount.text_field :amount, autocomplete: "off" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <h3>Taux Fixe</h3>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <h4 id="label_fixed_rate_memo_account">Compte</h4>
  </div>
  <div class="small-4 columns">
    <h4 id="label_rate">Taux</h4>
  </div>
</div>
<%= f.fields_for :fixed_rate_rules do |frate| %>
  <div class="row">
    <div class="small-8 columns">
      <%= frate.select :memo_account, memo_accounts_for_select.keys.unshift("") %>
    </div>
    <div class="small-4 columns">
      <%= frate.text_field :pct_rate, autocomplete: "off" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <%= button_tag "Enregistrer", class: "button success", name: nil %>
  </div>
</div>
