<div class="row">
  <div class="small-12 columns">
    <h1>Édition de règle de revenu: <%= vm.posting_rule %></h1>
  </div>
</div>
<%= form_for vm, url: posting_rule_url(vm.posting_rule_id) do |f| %>
  <%= render partial: "form", locals: {f: f} %>
<% end %>
