<div class="row">
  <div class="small-12 columns">
    <h1>Règles de revenus</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to "Nouvelle règle", new_posting_rule_url, class: "button primary" %>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <%= datagrid_form_for vm, method: :get, url: posting_rules_url %>
    <%= datagrid_table vm, html: {width: "100%"}, order: false %>
  </div>
</div>
