<div class="row">
  <div class="small-12 columns">
    <h1>Nouvelle règle de revenu</h1>
  </div>
</div>
<%= form_for vm, url: posting_rules_url do |f| %>
  <%= render partial: "form", locals: {f: f} %>
<% end %>
