<div class="row">
  <div class="small-12 columns">
    <h1>Envelopes</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#by-account">par Compte</a></li>
      <li class="tab-title"><a href="#by-memo-account">par Envelope</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="by-account">
      <% @accounts.each do |account, account_id| %>
        <h3><%= link_to account, account_url(account_id) %></h3>
        <table width="100%">
          <thead>
            <tr>
              <th>Envelope</th>
              <th>Dernière transaction</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
          <% @memo_accounts_by_account.select{|row| row.fetch(:account) == account}.each do |row| %>
            <tr>
              <td><%= link_to row.fetch(:memo_account), memo_account_url(row.fetch(:memo_account_id)) %></td>
              <td class="posted_on"><%= row.fetch(:posted_on) ? l(row.fetch(:posted_on), format: :iso8601) : nil %></td>
              <td class="amount"><%= amount row.fetch(:balance) %></td>
            </tr>
          <% end %>
          </tbody>
          <% if @memo_accounts_by_account.select{|row| row.fetch(:account) == account}.size > 1 then %>
            <tfoot>
              <tr>
                <th scope="row" colspan="2">Total</th>
                <td class="amount">
                  <%= amount @memo_accounts_by_account.select{|row| row.fetch(:account) == account}.map{|row| row.fetch(:balance)}.reduce(&:+) %>
                </td>
              </tr>
            </tfoot>
          <% end %>
        </table>
      <% end %>
      </div>
      <div class="content" id="by-memo-account">
        <% @memo_accounts.each do |memo_account, memo_account_id| %>
          <h3><%= link_to memo_account, memo_account_url(memo_account_id) %></h3>
          <table width="100%">
            <thead>
              <tr>
                <th>Compte</th>
                <th>Dernière transaction</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
            <% @memo_accounts_by_memo_account.select{|row| row.fetch(:memo_account) == memo_account}.each do |row| %>
              <tr>
                <td>
                  <% if row.fetch(:account) then %>
                    <%= link_to row.fetch(:account), account_url(row.fetch(:account_id)) %>
                  <% end %>
                </td>
                <td class="posted_on"><%= row.fetch(:posted_on) ? l(row.fetch(:posted_on), format: :iso8601) : nil %></td>
                <td class="amount"><%= amount row.fetch(:balance) %></td>
              </tr>
            <% end %>
            </tbody>
            <% if @memo_accounts_by_memo_account.select{|row| row.fetch(:memo_account) == memo_account}.size > 1 then %>
              <tfoot>
                <tr>
                  <th scope="row" colspan="2">Total</th>
                  <td class="amount">
                    <%= amount @memo_accounts_by_memo_account.select{|row| row.fetch(:memo_account) == memo_account}.map{|row| row.fetch(:balance)}.reduce(&:+) %>
                  </td>
                </tr>
              </tfoot>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
