<div class="row">
  <%= datagrid_form_for vm, method: :get, url: memo_account_url(memo_account.memo_account_id) %>
  <%= paginate vm %>
  <%= datagrid_table vm, html: {width: "100%"}, order: false %>
  <%= paginate vm %>
</div>
<div class="row">
  <h3>Sources</h3>
  <% if @posting_rule_entries.any? then %>
    <ul>
      <% @posting_rule_entries.each do |entry| %>
        <li><%= link_to entry.posting_rule, edit_posting_rule_url(entry[:posting_rule_id]) %>: <%=  format_posting_rule_amount_or_percentage entry %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucune règle de revenu n'ajoute de montants dans cette enveloppe.</p>
  <% end %>
</div>
