<%= form_for grid, options do |f| -%>
  <div class="row">
    <% grid.filters.zip(size_per_col(grid.filters)).each do |filter, size| %>
      <div class="medium-<%= size %> columns">
        <%= f.datagrid_label filter %>
        <%= f.datagrid_filter filter, partials: options[:partials] %>
      </div>
    <% end %>
  </div>
  <div class="show-for-touch">
    <%= f.button I18n.t("datagrid.form.search").html_safe, class: "button primary tiny", name: nil %>
  </div>
<% end -%>
