<div class="row">
  <div class="small-6 columns">
    <%= form.text_field(filter.name, from_options) %>
  </div>
  <div class="small-6 columns">
    <%= form.text_field(filter.name, to_options) %>
  </div>
</div>
