<div class="row">
  <div class="small-12 columns">
    <h1>Remboursement des crédits</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= datagrid_form_for vm, method: :get, url: liability_fundings_url %>
    <%= datagrid_table vm, html: {width: "100%"}, order: false %>
  </div>
</div>
