<div class="row">
  <div class="small-12 columns">
    <h1>Rapport des dettes à rembourser</h1>
  </div>
</div>

<%= form_tag new_liability_funding_url, method: :get do %>
  <%= hidden_field_tag :account_id, vm.account_id %>
  <div class="row">
    <div class="small-12 columns">
      <%= datagrid_table vm, html: {width: "100%"}, order: false %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= button_tag "Rembourser", name: nil, class: "button primary" %>
    </div>
  </div>
<% end %>
