<div class="row">
  <div class="small-12 columns">
    <h1><%= t "bank_transactions.form.import.title" %></h1>
  </div>
</div>
<%= form_for vm, url: bank_transactions_import_url do |f| %>
  <div class="row">
    <div class="small-12 large-3 columns">
      <%= f.label :data_format, t("bank_transactions.form.import.data_format") %>
      <%= f.select :data_format, vm.available_formats.map{|format| [t(format, scope: "bank_transactions.form.import.format"), format]}.sort_by{|row| [row[0].downcase, row[1]]} %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns">
      <%= f.label :data, t("bank_transactions.form.import.data") %>
      <%= f.file_field :data %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= button_tag t("bank_transactions.form.import.import_button"), class: "button success" %>
    </div>
  </div>
<% end %>
