<div class="pagination-centered">
  <ul class="pagination">
    <li class="arrow"><%= link_to t("pagination.previous_html"), previous_page_url %></li>
    <li class="current"><%= link_to date_range_to_text(min_posted_on, max_posted_on, format: :words), current_page_url %></li>
    <li class="arrow"><%= link_to t("pagination.next_html"), next_page_url %></li>
  </ul>
</div>
