<div class="row">
  <div class="small-12 large-8 columns">
    <%= datagrid_form_for vm, method: :get, url: reconciliations_url %>
    <%= paginate vm, key: :statement_posted_on %>
    <%= datagrid_table vm, html: {width: "100%"}, order: false %>
    <%= paginate vm, key: :statement_posted_on %>
  </div>
  <div class="small-12 large-4 columns">
    <h3>Nouvelle conciliation</h3>
    <%= form_for @form do |f| %>
      <div class="row">
        <div class="small-12 columns">
          <%= f.label :account %>
          <%= f.select :account, bank_accounts_for_select %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <%= f.label :statement_posted_on %>
          <%= f.text_field :statement_posted_on %>
        </div>
        <div class="small-6 columns">
          <%= f.label :balance %>
          <%= f.text_field :balance %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= button_tag "Créer", class: "button primary", name: nil %>
        </div>
      </div>
    <% end %>
  </div>
</div>
