<div class="row">
  <div class="small-12 columns">
    <h1>Conciliation</h1>
    <h2><%= vm.account %>: <%= l vm.statement_posted_on, format: :iso8601 %></h2>
  </div>
</div>
<%= form_for vm, url: reconciliation_url(vm.model.reconciliation_id) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Description</th>
            <th class="amount_dt">Montant DT</th>
            <th class="amount_ct">Montant CT</th>
          </tr>
          <tr>
            <th scope="row" colspan="3">Solde d'ouverture</th>
            <td colspan="2" class="amount"><%= amount vm.old_balance %></td>
          </tr>
        </thead>
        <tbody>
        <%= f.fields_for :entries do |fentry| %>
          <tr id="<%= fentry.object.transaction_id %>">
            <td>
              <%= fentry.check_box :transaction_id, {checked: fentry.object.reconciled_on.present?}, fentry.object.transaction_id, "" %>
            </td>
            <td><%= l fentry.object.posted_on, format: :iso8601 %></td>
            <td><%= link_to fentry.object.description, edit_transaction_url(fentry.object.transaction_id) %></td>
            <td class="amount_dt"><%= amount fentry.object.amount_dt %></td>
            <td class="amount_ct"><%= amount fentry.object.amount_ct %></td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row" colspan="3">Solde désiré</th>
            <td colspan="2" class="amount"><%= amount vm.balance %></td>
          </tr>
          <tr>
            <th scope="row" colspan="3">Nouveau solde</th>
            <td colspan="2" class="amount"><%= amount vm.new_balance %></td>
          </tr>
          <tr>
            <th scope="row" colspan="3">Différence</th>
            <td colspan="2" class="amount"><%= amount(vm.new_balance - vm.balance) %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= button_tag "Enregistrer", name: nil, class: "button success" %>
    </div>
  </div>
<% end %>
