<div class="row">
  <div class="small-12 columns">
    <h1>Nouveau revenu</h1>
  </div>
</div>
<div class="row">
  <% if vm then %>
    <%= form_for vm, url: transactions_url do |f| %>
      <%= render partial: "transactions/form", locals: {f: f} %>
        <div class="row">
          <div class="small-12 columns">
            <%= button_tag "Enregistrer", class: "button success" %>
          </div>
        </div>
    <% end %>
  <% else %>
    <div class="small-8 large-4 columns">
      <%= form_for form, url: new_revenue_url, method: :get do |f| %>
        <div class="row">
          <div class="small-12 columns">
            <%= f.label :account %>
            <%= f.select :account, asset_accounts_for_select %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <%= f.label :posting_rule_id %>
            <%= f.select :posting_rule_id, posting_rules_for_select %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <%= f.label :posted_on %>
            <%= f.text_field :posted_on, autocomplete: "off" %>
          </div>
          <div class="small-6 columns">
            <%= f.label :amount %>
            <%= f.text_field :amount, autocomplete: "off" %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <%= button_tag "Valider", class: "button success" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
