tr.balance-error td {
  background-color: #933;
  color: #f0f0f0;
}

.amount, .balance, .amount_dt, .amount_ct, .calculated_balance, .expected_balance, .balance_difference, .posted_on, .balance, .minimum_balance, .current_balance {
  text-align: right;
  width: 10rem;
}

// the first column doesn't need to occupy a fixed width
:first-child.amount, :first-child.balance, :first-child.amount_dt, :first-child.amount_ct, :first-child.calculated_balance, :first-child.expected_balance, :first-child.balance_difference, :first-child.posted_on {
  text-align: left;
  width:auto;
}

a.edit {
  float: right;
  visibility: hidden;
}

td:hover a.edit {
  visibility: visible;
}
