  <div class="row">
    <div class="small-10 columns">
      <label class="<%= vm.errors.include?(:description) ? "error" : nil %>">Description de transaction
        <%= f.text_field :description, class: vm.errors.include?(:description) ? "error" : nil, autocomplete: "off" %>
        <% if vm.errors.include?(:description) %>
          <small class="error"><%= vm.errors.full_messages_for(:description).to_sentence %></small>
        <% end %>
      </label>
    </div>
    <div class="small-2 columns">
      <label>Date <%= f.text_field :posted_on, readonly: vm.posted_on_readonly?, autocomplete: "off" %></label>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <h4 id="label_account">Compte</h4>
    </div>
    <div class="small-2 columns">
      <h4 id="label_amount_dt">Montant DT</h4>
    </div>
    <div class="small-2 columns">
      <h4 id="label_amount_ct">Montant CT</h4>
    </div>
  </div>

  <%= f.fields_for :entries do |fentry| %>
    <div class="row">
      <div class="small-8 columns">
        <%= fentry.select :account, accounts_for_select, include_blank: true, :"aria-labelledby" => "label_account" %>
      </div>
      <div class="small-2 columns">
        <%= fentry.text_field :amount_dt, value: amount(fentry.object.amount_dt, delimiter: "", separator: "."), :"aria-labelledby" => "label_amount_dt", autocomplete: "off" %>
      </div>
      <div class="small-2 columns">
        <%= fentry.text_field :amount_ct, value: amount(fentry.object.amount_ct, delimiter: "", separator: "."), :"aria-labelledby" => "label_amount_ct", autocomplete: "off" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-4 columns">
      <h4 id="label_account2">Compte</h4>
    </div>
    <div class="small-4 columns">
      <h4 id="label_memo_account">Envelope</h4>
    </div>
    <div class="small-2 columns">
      <h4 id="label_memo_amount_dt">Montant DT</h4>
    </div>
    <div class="small-2 columns">
      <h4 id="label_memo_amount_ct">Montant CT</h4>
    </div>
  </div>

  <% if vm.errors[:entries].present? then %>
    <div data-alert class="alert-box alert">
      <% vm.errors.full_messages_for(:entries).each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <%= f.fields_for :memos do |fmemo| %>
    <div class="row">
      <div class="small-4 columns">
        <%= fmemo.select :account, asset_accounts_for_select, include_blank: true, :"aria-labelledby" => "label_account2" %>
      </div>
      <div class="small-4 columns">
        <%= fmemo.select :memo_account, memo_accounts_for_select.map{|row| [row[1].zero? ? row[0] : "#{row[0]} (#{amount row[1]})", row[0]]}, include_blank: true, :"aria-labelledby" => "label_memo_account" %>
      </div>
      <div class="small-2 columns">
        <%= fmemo.text_field :amount_dt, :"aria-labelledby" => "label_memo_amount_dt", autocomplete: "off" %>
      </div>
      <div class="small-2 columns">
        <%= fmemo.text_field :amount_ct, :"aria-labelledby" => "label_memo_amount_ct", autocomplete: "off" %>
      </div>
    </div>
  <% end %>

  <% if vm.errors[:memos].present? then %>
    <div data-alert class="alert-box alert">
      <% vm.errors.full_messages_for(:memos).each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>
