<h1><%= t("transactions.new.tabs.new") %></h1>
<%= form_for vm, url: transactions_url do |f| %>
  <% if @liability_funding then %>
    <%= fields_for :liability_funding, @liability_funding do |funding_form| %>
      <%= funding_form.hidden_field :account %>
      <%= funding_form.fields_for :entries, @liability_funding.entries do |entry_form| %>
        <%= entry_form.hidden_field :transaction_id %>
      <% end %>
    <% end %>
  <% end %>
  <%= f.hidden_field :bank_transaction_id, value: bank_transaction.try(:bank_transaction_id) %>
  <%= render partial: "transactions/form", locals: {f: f} %>
  <div class="row">
    <div class="small-12 columns">
      <%= button_tag "Créer", class: "button success", name: nil %>
    </div>
  </div>
<% end %>
