<h1><%= t("transactions.new.tabs.reconcile") %></h1>
<h2>
  <%= l bank_transaction.posted_on, format: :iso8601 %>
  <%= bank_transaction.description %>
</h2>
<%= form_for @reconciliation_form, url: reconcile_bank_transaction_url(bank_transaction_id: bank_transaction.bank_transaction_id) do |f| %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Posted On</th>
        <th>Description</th>
        <th>Amount DT</th>
        <th>Amount CT</th>
      </tr>
    </thead>
    <tbody>
    <% candidates(vm.account).each do |candidate| %>
      <tr>
        <td><%= f.radio_button :transaction_id, candidate.fetch(:transaction_id) %></td>
        <td><%= l candidate.fetch(:posted_on), format: :iso8601 %></td>
        <td><%= link_to candidate.fetch(:description), transaction_url(id: candidate.fetch(:transaction_id)) %></td>
        <td><%= amount candidate.fetch(:amount_dt) %></td>
        <td><%= amount candidate.fetch(:amount_ct) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="small-12 columns">
      <%= button_tag "Concilier", class: "button success", name: nil %>
    </div>
  </div>
<% end %>
