<div class="row">
  <div class="small-12 columns">
    <%= link_to "Détruire", transaction_url(vm.transaction_id), method: :delete, class: "button warning right tiny" %>
    <h1>Modifier une transaction</h1>
  </div>
</div>
<%= form_for vm do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <div class="row">
    <div class="small-12 columns">
      <%= button_tag "Enregistrer", class: "button success", name: nil %>
    </div>
  </div>
<% end %>
