<div class="row">
  <%= datagrid_form_for vm, method: :get, url: graph_transactions_url %>
  <div class="large-12 columns">
    <div id="chart" style="width:100%; height:600px;"></div>
  </div>
</div>
<script>
$(function () {
    $("#chart").highcharts({
        chart: {
          type: "column"
        },
        title: {
          text: "Dépenses"
        },
        xAxis: {
          categories: <%= (vm.assets.to_a.select{|row| row.fetch(:account_kind) == "expense"}.map{|row| row.fetch(:account)} + vm.assets.to_a.select{|row| row.fetch(:account_kind) == "revenue"}.map{|row| row.fetch(:account)}).to_json.html_safe %>
        },
        yAxis: {
          title: {
            text: ""
          }
        },
        series: [{
          showInLegend: false,
          data: <%= (vm.assets.to_a.select{|row| row.fetch(:account_kind) == "expense"}.map{|row| (row.fetch(:amount_ct) - row.fetch(:amount_dt)).to_f} + vm.assets.to_a.select{|row| row.fetch(:account_kind) == "revenue"}.map{|row| (row.fetch(:amount_ct) - row.fetch(:amount_dt)).to_f}).to_json.html_safe %>
        }]
    });
});
</script>
