<div class="row">
  <div class="small-12 columns">
    <% if @reconciliation_form then %>
      <ul class="tabs" data-tab>
        <li class="tab-title active"><%= link_to t("transactions.new.tabs.reconcile"), "#reconcile" %></li>
        <li class="tab-title"><%= link_to t("transactions.new.tabs.new"), "#new" %></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="reconcile">
          <%= render partial: "reconciliation_form" %>
        </div>
        <div class="content" id="new">
          <%= render partial: "new_transaction" %>
        </div>
      </div>
    <% else %>
      <%= render partial: "new_transaction" %>
    <% end %>
  </div>
</div>
