<%= form_for @account, url: @account.account_id.blank? ? accounts_url : account_url(@account.account_id), method: @account.account_id.blank? ? :post : :put  do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <label class="<%= f.object.errors.include?(:name) ? "error" : nil %>">Name <%= f.text_field :name, class: f.object.errors.include?(:name) ? "error" : nil %></label>
      <% if f.object.errors.include?(:name) then %>
        <% f.object.errors.full_messages_for(:name).each do |message| %>
          <small class="error"><%= message %></small>
        <% end %>
      <% end %>
    </div>
    <div class="small-12 columns">
      <label class="<%= f.object.errors.include?(:minimum_balance) ? "error" : nil %>">Minimum balance <%= f.text_field :minimum_balance, class: f.object.errors.include?(:minimum_balance) ? "error" : nil %></label>
      <% if f.object.errors.include?(:minimum_balance) then %>
        <% f.object.errors.full_messages_for(:minimum_balance).each do |message| %>
          <small class="error"><%= message %></small>
        <% end %>
      <% end %>
    </div>
    <div class="small-12 columns">
      <label class="<%= f.object.errors.include?(:kind) ? "error" : nil %>">Kind <%= f.select :kind, %w(asset liability revenue expense equity), class: f.object.errors.include?(:kind) ? "error" : nil %></label>
      <% if f.object.errors.include?(:kind) then %>
        <% f.object.errors.full_messages_for(:kind).each do |message| %>
          <small class="error"><%= message %></small>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Save", class: "button small success" %>
    </div>
  </div>
<% end %>
