<div class="row">
  <div class="small-12 large-8 columns">
    <%= datagrid_form_for vm, method: :get, url: accounts_url %>
    <%= datagrid_table vm, html: {width: "100%"}, order: false %>
  </div>
  <div class="small-12 large-4 columns">
    <div class="panel">
      <h3>Nouveau compte</h3>
      <%= render "form" %>
    </div>
  </div>
</div>
