<div class="row">
  <div class="small-12 columns">
    <%= datagrid_form_for vm, method: :get, url: account_url(id: @account.account_id) %>
    <%= paginate vm %>
    <%= datagrid_table vm, html: {width: "100%"}, order: false %>
    <%= paginate vm %>
  </div>
</div>
